<h1>Login To System</h1>
<p class="text-muted" >
    <small>
    Small hint: abc@gmail.com a12345
    </small>
</p>

<div class="row" >
    <div class="col-12">
        <form #loginForm ="ngForm" (ngSubmit)="onLogin(loginForm.value)" >
            <p>
                <ngb-alert  [type]="'danger'" [dismissible]="false"
                    *ngIf="loginForm.submitted && !isAuthenticated "
                
                >
                  <strong>Wrong Credentials!</strong> Email And Password Does Not Match Our Records.
                </ngb-alert>
              </p>
            <div class="mb-3">
                <label for="inputEmail" class="form-label" > Email Address </label>
                <input 
                    type = 'email'
                    class="form-control"
                    id="inputEmail"
                    required
                    email
                    ngModel
                    #email = "ngModel"
                    name="email"
                    placeholder="your@email.com"
                >
                <div class="text-danger" *ngIf="email.touched && email.invalid">   Please Fill Valid Email! </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" >Password </label>
                <input  class="form-control"
                type="password"
                id="password"
                required
                minlength="6"
                ngModel
                #password ="ngModel"
                name="password"
                placeholder="Your Password..."
                >
                <div class="text-danger"
                    *ngIf="password.touched && password.invalid">
                        Please Fill Your Password (At Least 6 Characters)
                </div>
            </div>
            <button type="submit"  class="btn btn-primary"  >LogIn</button>
        </form>
    </div>
</div>